<!doctype html>
<html>
<script>
    var url = window.location.href;
    var args = url.split("?");
    var r = args[1];
</script>

<head>
    <meta charset="utf-8">
    <title>menu</title>
    <link rel="stylesheet" type="text/css" href="../Public/mainpage.css">
</head>

<body style="background-color: #eee;">
    <div class="app">
        <!-- top parts-->
        <div id='top'>
            <a id='logo' href="mainpage.html"></a>
            <div id="search">
                <input class="inputbox" style="color: #D0B48F;" placeholder="Search for food" v-model="searchContent">
                <a class='ib' @click="tosearch">Search</a>
            </div>
            <a id="mycart" @click="showcart"></a>
            <div id='login_place'>
                <a class="loginstatus" :href="directurl">{{username}}</a>
            </div>
        </div>
        <!-- cart -->
        <div id="cart" v-show="isshowcart">
            <a id="closebutton" @click="closecart">x</a>
            <a class="rname">My Cart</a>
            <table width="300px">
                <tr>
                    <th>name</th>
                    <th>quatity</th>
                    <th>option</th>
                </tr>
                <tr class="cartitem" v-for="item in cart" :key="item.fid">
                    <td>{{item.fname}}</td>
                    <td>{{item.quatity}}</td>
                    <td><input type="button" value='delete' @click="cancelitem(item.fid)"></input>
                    </td>
                </tr>
            </table>
            <p id="total">Total: ${{money}}</p>
            <button id="button1" @click="cancelall">Cancel all</button>
            <button id="button2" @click="Checkout">Checkout</button>
        </div>
        <!-- main parts-->
        <div class="restaurantinf">
            <img src="img/restaurant.webp">
            <p class="rname">Macdonal's &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{rimformation[0].rank}} stars + {{rid}}</p>
        </div>
        <div id="list">

            <div class="food" v-for="item in fimformation" :key="item.fid">
                <img :src='item.imgref'>
                <table width="264px">
                    <tr>
                        <td class="fname" colspan="2">{{item.name}}</td>
                        <td class='r'>$ {{item.price}}</td>
                    </tr>
                    <tr>
                        <td class="selled" colspan="3">selled {{ item.selled_quality}} last week</td>
                    </tr>
                    <tr>
                        <td class="stars">{{item.rank}} stars</td>
                        <td colspan="2"><button @click="addtoCart(item.fid)">add</button></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</body>

<script src="../Public/vue.js"></script>
<script src="../Public/mainpage.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>